hr {
  border-color: rgb(58,58,58);
  background-color: rgb(58,58,58);
  color: rgb(58,58,58);
}

body {
  color: rgb(217, 215, 211);
  background-color: rgb(23, 24, 28);

}

.text-muted{
  color: rgb(187, 182, 175) !important;
}

.navbar {
  border: 1px rgb(58,58,58) solid;
  background-color: rgb(20,21,24) !important;
}

.navbar-brand {
  color: rgba(232, 231, 227, 0.9) !important;
}

.jumbotron {
  word-wrap: break-word;
  border: 1px rgb(58,58,58) solid;
  background-color: rgb(20,21,24);
}

.card {
  border: 1px rgb(58,58,58) solid;
  background-color: rgb(20,21,24);
  height: 100%;
}
.nav-link {
  color: rgba(232, 231, 227, 0.5) !important;
  white-space: nowrap;
}
.nav-link.active {
  color: rgba(232, 231, 227, 0.9) !important;
  white-space: nowrap;
}
.navbar-toggler {
  border: 1px rgb(58,58,58) solid !important; 
}
.toggle-icon {
  filter: invert(94%) sepia(5%) saturate(164%) hue-rotate(2deg) brightness(94%) contrast(87%);
}

a,button {
  box-shadow: none !important;
  outline: none !important;
}

a:link:not(.btn), a:visited:not(.btn) {
  color: inherit;
}

img.cover-image {
  width: 100%;
  height: auto;
}

.card-body {
  position: relative !important;
  padding-bottom: 58px !important;
}

.dropdown-menu {
  border: 1px rgb(58,58,58) solid;
  background-color: rgb(20,21,24);
  max-width: 110px!important;
  min-width: 50px;
}

a.dropdown-item {
  color: rgb(217, 215, 211) !important;
}

a.dropdown-item:hover, a.dropdown-item:focus {
  background-color: rgb(26, 27, 28) !important;
}

a.dropdown-item:active {
  background-color: rgb(31, 100, 197) !important;
}

canvas {
  border-radius: 1rem;
}

div#unityContainer {
  border-radius: 1rem !important;
  width: 100%;
  padding-top: 56.25% !important;
}